#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define DEF 0
#define LWR 1
#define RSE 2
#define ADJ 3

&lt { quick-tap-ms = <200>; };

&mt { quick-tap-ms = <200>; };

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri-layer {
            if-layers = <5 5>;
            then-layer = <5>;
        };
    };

    combos {
        compatible = "zmk,combos";

        PrintLeft {
            bindings = <&kp PRINTSCREEN>;
            key-positions = <15 16>;
            layers = <0>;
            require-prior-idle-ms = <50>;
        };

        PrintRight {
            bindings = <&kp PRINTSCREEN>;
            key-positions = <19 20>;
            layers = <0>;
            require-prior-idle-ms = <50>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Main {
            display-name = "Main";
            bindings = <
&gresc        &kp Q  &kp L  &kp U      &kp COMMA    &kp PERIOD           &kp G          &kp W      &kp R            &kp Y  &kp P  &kp DEL
&kp LEFT_ALT  &kp E  &kp I  &kp A      &kp O        &kp MINUS            &kp K          &kp T      &kp N            &kp S  &kp H  &kp SLASH
&kp LEFT_WIN  &kp X  &kp Z  &kp C      &kp V        &kp SQT              &kp F          &kp D      &kp M            &kp J  &kp B  &tog 3
                            &lt 1 TAB  &lt 2 SPACE  &mt LCTRL LA(GRAVE)  &kp BACKSPACE  &kp ENTER  &kp RIGHT_SHIFT
            >;
        };

        Num_symbol {
            display-name = "Left";
            bindings = <
&trans  &kp PERCENT   &kp AT_SIGN      &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp GRAVE      &kp PLUS      &kp N7  &kp N8  &kp N9  &kp CARET  &trans
&trans  &kp QUESTION  &kp EXCLAMATION  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp TILDE      &kp MINUS     &kp N4  &kp N5  &kp N6  &kp N0     &kp SLASH
&trans  &kp HASH      &kp DOLLAR       &kp SEMICOLON         &kp PIPE               &kp AMPERSAND  &kp ASTERISK  &kp N1  &kp N2  &kp N3  &kp EQUAL  &kp NON_US_BACKSLASH
                                       &trans                &trans                 &trans         &trans        &trans  &trans
            >;
        };

        Others {
            display-name = "Conflg";
            bindings = <
&trans  &kp F9  &kp F10  &kp F11  &kp F12  &none   &kp PAGE_UP    &kp HOME  &kp UP_ARROW  &kp END    &none  &bt BT_SEL 0
&trans  &kp F5  &kp F6   &kp F7   &kp F8   &none   &kp PAGE_DOWN  &kp LEFT  &kp DOWN      &kp RIGHT  &none  &bt BT_SEL 1
&trans  &kp F1  &kp F2   &kp F3   &kp F4   &none   &none          &none     &none         &none      &none  &bt BT_SEL 2
                         &trans   &trans   &trans  &trans         &trans    &trans
            >;
        };

        Move-mouse {
            display-name = "Right";
            bindings = <
&trans  &none           &msc SCRL_UP    &mmv MOVE_UP    &msc SCRL_DOWN   &none            &kp PRINTSCREEN  &none   &none   &sys_reset   &bt BT_SEL 0  &to 4
&trans  &msc SCRL_LEFT  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &msc SCRL_RIGHT  &none            &none   &none   &bootloader  &bt BT_SEL 1  &to 0
&trans  &none           &none           &none           &none            &none            &none            &none   &none   &none        &bt BT_SEL 2  &bt BT_NXT
                                        &mkp MB4        &mkp MB1         &mkp MB2         &trans           &trans  &trans
            >;
        };

        Game {
            bindings = <
&none  &kp TAB           &kp Q  &kp W     &kp E      &kp R      &none  &kp NUMBER_1  &kp NUMBER_2  &kp N3     &kp NUMBER_4  &to 0
&none  &kp LEFT_SHIFT    &kp A  &kp S     &kp D      &kp F      &none  &kp N5        &kp NUMBER_6  &kp N7     &kp N8        &to 0
&none  &kp LEFT_CONTROL  &kp Z  &kp X     &kp C      &kp V      &none  &kp N9        &kp N0        &kp SLASH  &kp EQUAL     &to 0
                                &kp LEFT  &kp SPACE  &kp RIGHT  &none  &none         &none
            >;
        };
    };
};
