#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define DEF 0
#define LWR 1
#define RSE 2
#define ADJ 3

&lt { quick-tap-ms = <200>; };

&mt { quick-tap-ms = <200>; };

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri-layer {
            if-layers = <2 4>;
            then-layer = <4>;
        };
    };

    combos {
        compatible = "zmk,combos";

        PrintLeft {
            bindings = <&kp PRINTSCREEN>;
            key-positions = <15 16>;
            layers = <0>;
            require-prior-idle-ms = <50>;
        };

        PrintRight {
            bindings = <&kp PRINTSCREEN>;
            key-positions = <19 20>;
            layers = <0>;
            require-prior-idle-ms = <50>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Main {
            display-name = "Main";
            bindings = <
&gresc        &kp Q  &kp L  &kp U                &kp COMMA    &kp PERIOD      &kp G          &kp W      &kp R              &kp Y  &kp P  &kp DEL
&kp TAB       &kp E  &kp I  &kp A                &kp O        &kp MINUS       &kp K          &kp T      &kp N              &kp S  &kp H  &kp SLASH
&kp LEFT_WIN  &kp Z  &kp X  &kp C                &kp V        &kp SQT         &kp G          &kp D      &kp M              &kp J  &kp B  &tog 3
                            &lt 1 LC(LA(SPACE))  &lt 2 SPACE  &altgrave_ctrl  &kp BACKSPACE  &kp ENTER  &kp RS(RIGHT_ALT)
            >;
        };

        num_symbol {
            display-name = "Left";
            bindings = <
bindings = <&kp LA(GRAVE)>;  &kp DOLLAR   &kp AT     &kp POUND  &kp TILDE     &kp GRAVE      &trans  &kp N7  &kp N8  &kp N9  &trans  &trans
&trans  &kp PERCENT  &kp CARET  &kp AMPS   &kp ASTERISK  &kp FSLH       &trans  &kp N4  &kp N5  &kp N6  &kp N0  &trans
&trans  &trans       &trans     &trans     &trans        &kp BACKSLASH  &trans  &kp N1  &kp N2  &kp N3  &trans  &trans
                                &trans     &trans        &trans         &trans  &trans  &trans
            >;
        };

        Right {
            display-name = "Right";
            bindings = <
&trans  &kp F9  &kp F10  &kp F11  &kp F12  &none   &kp DOUBLE_QUOTES  &kp HOME        &kp UP                &kp END                &trans  &trans
&trans  &kp F5  &kp F6   &kp F7   &kp F8   &none   &kp SQT            &kp LEFT        &kp DOWN              &kp RIGHT              &trans  &trans
&trans  &kp F1  &kp F2   &kp F3   &kp F4   &trans  &kp LBKT           &kp RBKT        &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &trans  &trans
                         &trans   &trans   &trans  &trans             &kp LEFT_BRACE  &kp RIGHT_BRACE
            >;
        };

        Config {
            display-name = "Conflg";
            bindings = <
&bootloader  &studio_unlock  &none         &none         &none         &none         &kp CAPS      &kp KP_NUMLOCK  &kp SCROLLLOCK  &none         &studio_unlock  &bootloader
&bt BT_CLR   &bt BT_SEL 0    &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &bt BT_SEL 4  &bt BT_SEL 3    &bt BT_SEL 2    &bt BT_SEL 1  &bt BT_SEL 0    &bt BT_CLR
&sys_reset   &none           &none         &none         &none         &none         &none         &none           &none           &none         &none           &sys_reset
                                           &trans        &none         &trans        &none         &trans          &trans
            >;
        };
    };
};
